{$DOMAIN} {
	request_body {
		max_size 50MB
	}
	# API + Socket.io (Caddy proxies WebSocket upgrades automatically)
	@api path /api/* /socket.io/*
	reverse_proxy @api server:3005
	reverse_proxy client:3000
}

www.{$DOMAIN} {
	redir https://{$DOMAIN}{uri} permanent
}
